<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Statistics</title>
	</head>
	<body>
		<h1> REST test </h1>
		<hr />
		
		<h2> Opening of accounts </h2>
		<div id="accounts"></div>
		<div id="accounts_output"></div>
		<hr />
		
		<h2> Registration of url </h2>
		<div id="registration"></div>
		<div id="registration_output"></div>
		<hr />
		
		<h2> Retrival of statistics </h2>
		<div id="statistics"></div>
		<div id="statistics_output"></div>
		<hr />
		
		<a style="position:absolute; top:0; right:0" href="/help"> Go to help </a>
		
		<script src="//unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
		<script src="//unpkg.com/react/umd/react.development.js"></script>
		<script src="//unpkg.com/react-dom/umd/react-dom.development.js"></script>
		<script src="//unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/accounts.js" type="text/babel"></script>
		<script src="js/statistics.js" type="text/babel"></script>
		<script src="js/registration.js" type="text/babel"></script>
	
	</body>
</html>